.landing-page{
    .strip{
        @media only screen and (max-width: 640px){
            display: none;
        }
    }
    .green{
        background-color: $color-slytherin;
    }
    .red{
        background-color: $color-griffindor;
    }
    .yellow{
        background-color: $color-hufflepuff;
    }
    .medium {
        width: 24px;
    }
    .small {
        width: 12px;
    }
    .big {
        width: 50px;
    }
    
 .header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
      @media only screen and (max-width: 480px){
        flex-direction: column !important;
      }
      .medium {
        width: 24px;
       }
      
      .big {
          width: 50px;
      }
      .small{
          width: 12px;
      }
    
    .hero-picture {
        width: 100%;
        background-image: url(https://images.unsplash.com/photo-1551269901-5c5e14c25df7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
        background-size: cover;
        background-position: center;
         @media only screen and (max-width: 480px){
            height: 154px;
         }
          h1 {
                float: right;
                color: white;
                margin: 32px;
                font-weight: 500;
                font-size: 40px;
               @media only screen and (max-width: 480px){
                font-size: 38px;
               }
            }
    }
    .hero-description {
        width: 525px;
        height: 100%;
         @media only screen and (max-width: 480px){
            width:auto;
         }
         h4 {
            color: white;
            font-weight: 500;
            font-size: 23px;
            width: 100%;
            text-align: right;
            margin: 15px 0px 15px 0px;
            padding-right: 20px;
            @media only screen and (max-width: 480px){
                font-size: 25px;
            }
            @media only screen and (max-width:290px){
                padding-right: 11px;
            }
         }
         p {
            color: #fff;
            font-size: 15px;
            font-weight: 400;
            text-align: right;
            line-height: 33px;
            max-width: 299px;
            float: right;
            margin-bottom: 25px;
            margin-top: 10px;
            margin-right: 20px;
            margin-left: 20px;
            @media only screen and (max-width: 480px){
                width: 100%;
                font-size: 16px;
            }
            @media only screen and (max-width:390px){
                margin-right: 20px;
            }
            @media only screen and (max-width:290px){
                width: fit-content;
                margin-right: 10px;
            }
         }
         button {
            float: right;
            margin-right: 20px;
            margin-bottom: 25px;
            color:white;
            background-color: transparent;
            border: 1px solid white;
            padding: 10px 23px;
            font-size: 14px;
            cursor: pointer;
            &:active{
                padding: 8px 20px;
                margin-bottom: 30px;
            }
         }
    }
 }
 
 .text-container {
    margin: 30px 122px;
    @media only screen and (max-width: 640px){
        margin: 30px 25px;
    }
    p {
        line-height: 28px;
        text-align: right;
        
    }
    .left {
        margin-bottom: 30px;
        text-align: left;
    }
 }
 article {
    margin: 50px 0;
 }
 
 .hero-article{
    .hero-article-content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @media only screen and (max-width: 640px){
            flex-direction: column;
        }
        .hero-picture {
            width: 100%;
            height: 325px;
            background-position: center;
            background-size: cover;
            width: 571px;
            background-image: url(../img/owl.jpg);
            @media only screen and (max-width: 640px){
                width: 100%;
                height: 325px;
            }
        }
        .hero-description{
           width: 100%;
           padding-bottom: 30px;
          h5 {
            color: white;
            font-size: 22px;
            font-weight: 300;
            padding: 37px;
          }
          p {
            color:white;
            font-weight: 300;
            margin: 18px 37px 19px 37px;
            font-size: 14px;
            line-height: 24px;
          }
          label {
            color: $color-hufflepuff;
            margin-left: 37px;
            cursor: pointer;
            &:hover {
                color: white;
            }
          }
          .more-text {
            transition: max-height .6s;
            opacity: 0;
            max-height: 0;
            overflow: hidden;
            margin: 10px 37px 0;
          }
          input:checked+.more-text {
            transition: max-height 1s;
            opacity: 1;
            max-height: 450px;
          }
        }
    }
 }
 .video-article{
    .video-article-content{
        display: flex;
        justify-content: center;
        .video-content {
            width: 100%;
            background-color: $color-ravenclaw;
            display: flex;
            @media only screen and (max-width: 640px){
            flex-direction: column;
            }
            .video-description {
                align-self: center;
                text-align: right;
                @media only screen and (max-width: 640px){
                   padding: 20px;
                }
                p {
                  color: white;
                  padding: 20px;
                }
            }
            .video {
                padding: 45px 45px 45px 22px;
                @media only screen and (max-width: 640px){
                   padding: 20px !important;
                }
                iframe {
                    width: 400px;
                    height: 225px;
                    @media only screen and (max-width: 640px){
                        width: 100% !important;
                        height: 300px !important;
                    }
                    @media only screen and (max-width: 1200px){
                         width: 337px;
                         height: 208px;
                    }
            }
            }
        }
    }
 }
  
.text-container {
        margin: 30px 122px;
        @media only screen and (max-width: 640px){
        margin: 30px 25px;
        }
      h4 {
        color: $color-griffindor;
        font-size: 26px;
        margin-bottom: 31px;
      }
}

 footer{
 .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5px;
    @media only screen and (max-width: 480px){
        display: flex;
        flex-direction: column;
    }
    nav {
        @media only screen and (max-width: 480px){
        margin-bottom: 10px;
        }
        ul {
            list-style: none;
            li {
                display: inline;
                a {
                    text-decoration: none;
                    color: white;
                    font-size: 14px;
                    margin-right: 15px;
                }
            }
        }
    }
 }
 .copyright {
    color: #fff;
    font-size: 14px;
 }
 .arrow {
    width: 100%;
    height: 15px;
   }
 }
}