.sliders-page {
   
    h1{
        width: 100%;
        font-weight: 400;
        text-align: center;
        margin: 15px 0;
    }
    .arrow {
        display: flex;
        align-items: center;
        margin: 0 20px;
        @media only screen and(max-width: 660px) {
            display: flex;
            align-items: center;
            margin: 0px;
        }
    }
     .arrow button {
        width: 40px;
        height: 40px;
        border: none;
        border-radius: 30px;
        font-size: 30px;
        color: #fff;
        font-weight: 300;
        cursor: pointer;
        @media only screen and(max-width: 660px){
            width: 30px;
            height: 250px;
            border: none;
            border-radius: 0px;
            font-size: 30px;
            color: #fff;
            font-weight: 300;
            cursor: pointer;}
     }
    .griffindor-container {
        width: 100%;
        background-color: #cd2f2f29;
           .arrow button{
               background-color:#cd2f2f;
            }
            .arrow button:active{
               border:3px solid #f7dede;
               font-size:25px;
            }
            .slider{
               border:4px solid #cd2f2f;
             }
}
    .slytherin-container {
        background-color: #43a78f57;
    }
    .ravenclaw-container {
        width: 100%;
        background-color: #3c92c24d;
    }
    .hufflepuff-container {
        width: 100%;
        background-color: #eec65e29;
        margin-bottom: 40px;
        display: inline-block;
    }
    .slider-container {
        display: flex;
        justify-content: center;
        padding: 20px 0;
        margin-bottom: 30px;
        @media only screen and (max-width: 660px){
            display: flex;
        justify-content: center;
        padding: 20px 0;
        margin-bottom: 2px;
        }
    }
    .slider {
        width: 450px;
        height: 250px;
        background-position: center;
        background-size: cover;
        @media only screen and (max-width: 660px){
            height: 250px;
            width: 277px;
            object-fit: cover;
            background-position: center;
        }
    }

}