.to-do-page{
    height: 100%;
  header{
      background: #003973;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #E5E5BE, #003973);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #E5E5BE, #003973); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      width: 100%;
      padding: 20px;

      .header-to-do{
          display: flex;
          justify-content: center;
          h1{
             font-weight: 400;
             font-size: 36px;
             color:white;
                @media only screen and (max-width: $bp-mxs){
                 font-size: 38px;
                }
            }
        }
    }
 nav{
     background-color: #e3e4be45;
       .nav-container{
           display: flex;
           padding: 23px;
           justify-content: space-evenly;
           @media only screen and (max-width: $bp-mxs){
             display: block;
             text-align: center;
             padding: 15px;
            } 
               input{
                  display: none;
                }
               label{
                  background-color: #2c6a9a;
                  border: 2px solid #4f5d61;
                  color: white;
                  height: 44px;
                  width: 138px;
                  font-size: 20px;
                  font-weight: 400;
                  border-radius: 5px;
                  cursor: pointer;
                  text-align: center;
                  padding-top: 6px;
                  @media only screen and (max-width: $bp-mxs){
                    height: 39px;
                    font-size: 17px;
                    font-weight: 500;
                    width: 42%;
                    display: inline-block;
                    margin: 9px 4px;
                    padding-top: 6px;
                  }
                  @media screen and (max-width: 290px){
                      font-size: 16px;
                  }
                  &:active {
                    padding: 10px 8px;
                    // have no idea
                  }
                }
               button{
                  background-color: #2c6a9a;
                  border: 2px solid #4f5d61;
                  color: white;
                  height: 44px;
                  width: 134px;
                  font-size: 20px;
                  font-weight: 400;
                  border-radius: 5px;
                  cursor: pointer;
                  @media only screen and (max-width: $bp-mxs){
                    height: 39px;
                    font-size: 17px;
                    font-weight: 500;
                    width: 42%;
                    margin: 6px 4px;
                  }
                  &:active{
                    padding: 10px 8px;
                  }
                }
        }
    }
    .input-task{
        display: flex;
        width: 100%;
        height: 8%;
        justify-content: center;
        margin-top: 5px;
        margin-bottom: 5px;
        #input{
             border: none;
             border-radius: 0;
             width: 66%;
             padding: 10px;
             font-size: 19px;
             @media only screen and (max-width: $bp-mxs){
                 margin-left: 10px;
                 width: 50%;
             }
        }
        .addBtn {
            padding: 10px;
            width: 134px;
            background: #d9d9d9;
            color: #555;
            text-align: center;
            font-size: 16px;
            cursor: pointer;
            transition: 0.3s;
            border-radius: 0;
            @media only screen and (max-width: $bp-mxs){
                width: 100px;
                height: 51.2px;
                padding: 14px;
            }
        }
    }
    ul{
        li {
        cursor: pointer;
        position: relative;
        padding: 12px 8px 12px 40px;
        list-style-type: none;
        background: #eee;
        font-size: 18px;
        transition: 0.2s;
        
        /*элементы списка просматриваемыми */
         -webkit-user-select: none;
         -moz-user-select: none;
         -ms-user-select: none;
         user-select: none;
            &:hover{
               background: #ddd;
             }           
        }
        .checked {
            background: #888;
            color: #fff;
            text-decoration: line-through;

            &::before {
                content: '';
                position: absolute;
                border-color: #fff;
                border-style: solid;
                border-width: 0 2px 2px 0;
                top: 10px;
                left: 16px;
                transform: rotate(45deg);
                height: 15px;
                width: 7px;
            }
        }
    }
      
}