@import "./partials/variables.scss";
@import "./partials/common.scss";
@import "./partials/main.scss";
@import "./partials/header.scss";
@import "./partials/counter.scss";
@import "./partials/sliders.scss";
@import "./partials/landing.scss";
* {
    margin: 0;
    padding: 0;
    font-family: $main-font;
    color: $color-text;
    box-sizing: border-box;
}

html {
    height: 100%;
}